p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: rgb(23, 22, 22);
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: rgb(208, 53, 53);
}